MONGO_URL="mongodb://localhost:27017"
DB_NAME="test_database"
CORS_ORIGINS="*"
JWT_SECRET=""
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin1234"
ADMIN_NAME="مدیر سیستم"
APIFOOTBALL_KEY=""
APIFOOTBALL_LEAGUE_ID="28"
APIFOOTBALL_FROM="2026-06-10"
APIFOOTBALL_TO="2026-07-20"